</head>

<body>
    <nav>
        <a href="/" class="<%= linkActive === "/home" ? "active" : "" %>" >HOME</a>
        <a href="/users" class="<%= linkActive === "/users" ? "active" : "" %>">USUÁRIOS</a>
        <a href="/add-user" class="<%= linkActive === "/add-user" ? "active" : "" %>">NOVO USUÁRIO</a>
    </nav>