<div class="card-user">
    <h4>
        <%= user.name %>
    </h4>
    <p>
        <%= user.description %>
    </p>
    <form action="/deleting-post" method="POST">
        <input type="hidden" name="userID"  value="<%= user.id %>">
        <button class="delete-user">
            <img src="/images/trash.png" alt="APAGAR">
        </button>
    </form>
</div>