<div class="card-user">
    <h3>
        <%= user.name %>
    </h3>
    <p>
        <%= user.description %>
    </p>
    <form action="/deleting-post" method="POST">
        <input type="hidden" name="userID" value="<%= user.id %>">
        <div class="footer">
            <button class="delete-user">
                <img src="/images/trash.png" alt="APAGAR">
            </button>
        </div>
    </form>
</div>