<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <nav>
        <a href="/">HOME</a>
        <a href="/users">USUÁRIOS</a>
        <a href="/add-user">NOVO USUÁRIO</a>
    </nav>
    <section id="content">
        <h1>Cadastrar um novo usuário</h1>
        <form action="/adding-a-user" method="POST">
            <div class="block-label-input">
                <label for="name">Nome do usuário</label>
                <input type="text" name="name" />
            </div>
            <div class="block-label-input">
                <label for="description">Descrição do usuário</label>
                <input type="text" name="description" />
            </div>
            <button type="submit">ADICIONAR</button>
        </form>
    </section>
</body>

</html>