<%- include("includes/head_navbar.ejs") %>

    <section id="content">
        <h1>Cadastrar um novo usuário</h1>
        <form action="/adding-a-user" method="POST">
            <div class="block-label-input">
                <label for="name">Nome do usuário</label>
                <input type="text" name="name" />
            </div>
            <div class="block-label-input">
                <label for="description">Descrição do usuário</label>
                <input type="text" name="description" />
            </div>
            <button type="submit">ADICIONAR</button>
        </form>
    </section>

<%- include("includes/final_footer.ejs") %>