<%- include("includes/head.ejs") %>

    <%- include("includes/navbar.ejs") %>

    <section id="content">
        <h1>Bem vindo ao controle de usuários!</h1>
    </section>

<%- include("includes/final_footer.ejs") %>