<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
</head>

<body>
    <nav>
        <a href="/">HOME</a>
        <a href="/users">USUÁRIOS</a>
        <a href="/add-user">NOVO USUÁRIO</a>
    </nav>
    <section id="content">
        <h1>Lista de todos os usuários</h1>

        <% if (allUsers.length > 0) { %>
            <% allUsers.forEach((user)=> {%>
                <div class="card-user">
                    <h4>
                        <%= user.name %>
                    </h4>
                    <p>
                        <%= user.description %>
                    </p>
                </div>
            <% }) %>
        <% } %>
    </section>
</body>

</html>