<%- include("includes/head_navbar.ejs") %>

    <section id="content">
        <h1>Lista de todos os usuários</h1>

        <% if (allUsers.length > 0) { %>
            <% allUsers.forEach((user)=> {%>
                <%- include("components/user-card.ejs", {user}) %>
            <% }) %>
        <% } %>
    </section>

<%- include("includes/final_footer.ejs") %>