div#div-content-users{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

div#div-content-users div.card-user{

    text-align: center;

    width: 400px;

    margin: 20px auto;

    border-radius: 10px;
    background-color: var(--color-card-user-background);
}

div.card-user p,
div.card-user h3{

    padding: 5px 20px;
}

div.card-user div.footer{

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-top: 10px;
    padding: 10px 20px;

    border-radius: 0 0 10px 10px;
    background-color: var(--color-card-user-footer-background);
}